.aboutme {
    height: 580px;
    position: relative;

    @mixin atSmall {
        height: 560px;
    }
    @mixin atMedium {
        height: 480px;
    }

    @mixin atLarge {
        height: 430px;
    }

    &__container {
        top: 6rem;
        position: absolute;


        &__description {
            line-height: 1.8;
        }

        &__image {
            width: 180px;
            height: 160px;
            float: left;
            margin: .5rem 1rem 1rem 0;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.2rem;
        color: $mainBlue;

    }

}