.aboutme {
    height: 320px;
    position: relative;

    @mixin atSmall {
        height: 500px;
    }

    @mixin atLarge {
        height: 500px;
    }

    &__container {
        top: 25%;
        position: absolute;

        &__description {
            font-size: .7rem;


            @mixin atSmall {
                font-size: .9rem;
                line-height: 2;
            }

            @mixin atMedium {
                font-size: 1rem;
            }
        }

        &__image {
            max-width: 30%;
            float: left;
            margin: .5rem 1rem 1rem 0;

            @mixin atMedium {
               max-width: 35%;
                margin: .5rem 2rem 2rem 0;
            }
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
        font-size: 1.5rem;
        color: $mainBlue;

        @mixin atSmall {
            padding: 2rem 0 0 0;
            font-size: 1.8rem;
        }

        @mixin atMedium {
            font-size: 2rem;
        }

        @mixin atLarge {
            font-size: 2.5rem;
        }
    }

}