.btn {
    width: 150px;
    height: 60px;
    border: solid 2px #00FFE5;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;



    &__homepage {
        background-color: transparent;
        color: #00FFE5;
    }
}