.contact {
    background-image: linear-gradient(to left, $background-color1, $background-color2, $background-color3);
    color: $mainWhite;
}

.contact-container {
    text-align: center;
    height: 430px;

    &__bottom {
        font-size: .6rem;
    }

    &__middle {
        margin: 0 auto;
        margin-bottom: 3rem;     
        line-height: 1.8;     
        width: 80%;
        font-weight: 500;

        @mixin atMedium {
            width: 50%;
        }
    }

    &__title {
        color: $mainBlue;
        padding: 3rem 0;
        font-size: 2rem;
        text-align: center;

        @mixin atMedium {
            text-align: left;

        }
    }
}