.contact {
    background-image: linear-gradient(to left, $background-color1, $background-color2, $background-color3);
    color: $mainWhite;

}

.contact-container {
    text-align: center;
    height: 360px;

    &__bottom {
        font-size: .6rem;
    }

    &__middle {
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 70%;
        line-height: 1.8;

        @mixin atMedium {
            width: 40%;

        }

    }

    &__title {
        color: $mainBlue;
        padding: 3rem 0;
        font-size: 2rem;
        text-align: left;
    }
}