#homepage {
    background-image: linear-gradient(to left, $background-color1, $background-color2, $background-color3);
    color: $mainWhite;
    height: 568px;


    @mixin atMedium {
        height: 650px;

    }

    .homepage__flexbox {
        display: flex;
        line-height: 2;
        height: 100%;
        justify-content: center;
        text-align: center;
       

        @mixin atMedium {
            flex-direction: column;
            text-align: left;
            padding-bottom: 10%;

        }
    }

    .homepage__intro {
        padding-top:10rem;

        @mixin atMedium {
            padding-left: 5rem;
            padding-top:0;


        }

        &__title {

            font-size: 1.5rem;

            @mixin atMedium {
                font-size: 2.5rem;
            }
        }

        &__description {
            padding-bottom: 2rem;
            font-weight: 300;
        }
    }
}


.scroll-project {
    scroll-behavior: smooth;

}