.mywork {
    margin-bottom: 5rem;
    margin-top: 5rem;
    position: relative;

    a {
        color: black;
    }

    &__main-title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.2rem;
        color: $mainBlue;
    }

    &__main-subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;

        @mixin atMedium {
            font-size: 1.6rem;
        }
    }
}

.website-container {
    position: relative;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    width: 590px;

    &__main {
        height: 100%;
    }

    &__overlay {
        padding: 40px;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        justify-content: top;
        display: flex;
        align-items: top;
        flex-direction: column;

        h3 {
            margin-bottom: 50px;
        }
    }

    &__overlay:hover {
        opacity: 1;
        background-color: black;
        opacity: 0.9;
        transition-property: background-color, transform;
        transition: all 300ms ease-in;
    }
}

.mywork-content {
    line-height: 1.5;

    &__container {

        line-height: 1.8;

        &__list {
            margin: 1rem;
        }
    }

    &__container-btn {

        display: block;
        text-align: center;
    }
}

