.mywork {
    margin-bottom: 5rem;
    margin-top: 5rem;
    a {
        color: black;
    }


    &__main-title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.2rem;
        color: $mainBlue;
    }

    &__main-subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;

        @mixin atMedium {
            font-size: 1.6rem;
        }
    }

    &__main-image {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        max-width: 100%;
        margin: .5rem 0 2rem 0;

        @mixin atMedium {
            padding: 2rem 0;

        }
    }
}

.mywork-content {
    line-height: 1.5;

    &__container {

        line-height: 1.8;

        &__list {
            margin: 1rem;
        }
    }

    &__container-btn {

        display: block;
        text-align: center;

    }

}

.myrole {
    display: block;
    text-align: left;

    @mixin atSmall {
        margin: 4rem 4rem;
    }

    @mixin atMedium {
        margin: 4rem 6rem;
    }
}

.myrole-container {
    line-height: 1.8;

    &__description p{
        margin-top: .6rem;
  
    }



    &__title {

        font-size: 1.6rem;
        font-weight: 600;
        margin: 2rem 0 1rem 0;
        box-shadow: 5px;
    }
}