.social-icons {
    position: absolute;
    text-align: center;
    transform: translateX(50%);
    top: 85%;

    @mixin atMedium {
        text-align: right;
        right: 15%;
    }
}

.nav-item {
    list-style-type: none;
    padding: 1.5rem;
    color: $mainWhite;
    display: inline-block;
}

.nav-link {
    color: $mainWhite;
}