.social-icons {
    display: flex;
    line-height: 2;
    justify-content: center;
    text-align: center;
    

    @mixin atMedium {
        justify-content: flex-end;
        padding-right: 20px;
    }
}

.nav-item {
    list-style-type: none;
    color: $mainWhite;
    position: absolute;
    top: 80%;
    text-align: center;

    @mixin atMedium {
        position: relative;
        transform: translateY(650%);
    }

        @mixin atMedium {
        position: relative;
        transform: translateY(550%);
    }
}

.nav-item:last-child {
    padding-left: 150px;

    @mixin atMedium {
        padding-left: 80px;

    }
}

.nav-item:first-child {
    padding-right: 150px;

    @mixin atMedium {
        padding-right: 80px;

    }
}



.nav-link {
    color: $mainWhite;


    :hover {
        color: $mainBlue;
    }
}