.wrapper {

    padding-right: 30px;
    padding-left: 30px;

    @mixin atSmall {
        padding-right: 50px;
        padding-left: 50px;
    }


    @mixin atMedium {
        padding-right: 100px;
        padding-left: 100px;

    }

    @mixin atLarge {
        padding-right: 280px;
        padding-left: 280px;

    }

    &__homepage {
        padding-right: 30px;
        padding-left: 30px;
        height: 568px;
    }
}

@media screen and (min-width: 800px) {
    .wrapper, .wrapper__homepage {
        max-width: 1300px;
        margin: 0 auto;
    }
}