.wrapper {

    padding-right: 30px;
    padding-left: 30px;

    @mixin atSmall {
        padding-right: 70px;
        padding-left: 70px;
    }


    @mixin atMedium {
        padding-right: 120px;
        padding-left: 120px;
    
    }

    @mixin atLarge {
        padding-right: 270px;
        padding-left: 270px;
    
    }

}